USE xsyq;
CREATE TABLE IF NOT EXISTS `meal_record` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `record_date` date NOT NULL COMMENT '打卡日期',
  `meal_type` varchar(20) NOT NULL COMMENT '餐次(BREAKFAST, LUNCH, DINNER)',
  `feedback_status` varchar(20) NOT NULL COMMENT '反馈(AS_SUGGESTED, OVERATE, UNDERATE)',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_date_meal` (`user_id`, `record_date`, `meal_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='饮食打卡反馈表';
